.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px 0px 100px;
    &__brand{
        color: #61C6CC;
        text-decoration: none;
        font-size: 36px;
    }
    
    &__nav {

       
    }
    &__link {
        color: #61C6CC;
        text-decoration: none;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            color: #9CDBDF;
            transition: 0.2s;
        }
        &:last-child {
            margin-right: 0px;
        }
        &--inversed {
            background-color: #9CDBDF;
            border-radius: 7px;
            padding: 5px 10px;
            color: #fff;
            &:hover {
                background-color: #ffffff;
                color: #9CDBDF;
                transition: 0.2s;
            }
        }
        &--small {
            font-size: 14px;
        }
    }
}

@media (max-width: 800px) {
    .header {
        margin: 20px 20px 0px;
    }
}