<div class="login">
    <form class="login__form">
        <h4 class="login__form-header">
            Login to <span class="login__form-header--highlight">Upload.io</span>
        </h4>
        <label for="login_or_email" class="login__label">Login or email:</label>
        <br>
        <input 
            type="text" 
            name="login_or_email" 
            id="login_or_email" 
            class="login__input"/>
        <br>
        <label for="login_or_email" class="login__label">Password:</label>
        <br>
        <input 
            type="password" 
            name="password" 
            id="password" 
            class="login__input"/>
        <br>
        <button type="submit" class="login__btn">Sign in</button>
    </form>
</div>