<div class="login">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
    </div>
    <form class="login__form" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <h4 class="login__form-header">
            Login to <span class="login__form-header--highlight">Upload.io</span>
        </h4>
        <label for="login_or_email" class="login__label">Login or email:</label>
        <br>
        <input 
            type="text" 
            name="login_or_email" 
            id="login_or_email" 
            class="login__input"
            placeholder="Account login"
            ngModel
            required/>
        <br>
        <label for="login_or_email" class="login__label">Password:</label>
        <br>
        <input 
            type="password" 
            name="password" 
            id="password" 
            class="login__input"
            placeholder="Password"
            required
            ngModel
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}"/>
        <br>
        <button 
            type="submit" 
            class="login__btn"
            [disabled]="!form.valid && form.touched">Sign in</button>
    </form>
</div>