<div class="signup">
    <form class="signup__form">
        <h4 class="signup__form-header">
            Sign up to <span class="signup__form-header--highlight">Upload.io</span>
        </h4>
        <label for="login" class="signup__label" required>Login:</label>
        <br>
        <input 
            type="text" 
            name="login" 
            id="login" 
            class="signup__input"
            required/>
        <br>
        <label for="email" class="signup__label">E-mail:</label>
        <br>
        <input 
            type="email" 
            name="email" 
            id="email" 
            class="signup__input"
            required/>
        <br>
        <label for="signup_or_email" class="signup__label">Password:</label>
        <br>
        <input 
            type="password" 
            name="password" 
            id="password" 
            class="signup__input"
            required/>
        <br>
        <button type="submit" class="signup__btn">Sign up</button>
    </form>
</div>