.uploadsList {
    width: 50vw;
    &__search-input {
        border: 0px;
        border-bottom: 1px solid gray;
        outline: none;
        font-size: 14px;
    }
    &__upload {
        &-label {
            background-color: #9CDBDF;
            border-radius: 5px;
            font-size: 16px;
            padding: 12.5px 30px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #9CDBDF;
            }
        }
        &-input {
            display: none;
        }
        &-fspace {
            font-size: 12px;
            margin-top: 20px;
            font-weight: bold;
            color: #A5A5A5;
        }
    }
    &__table {
        margin-top: 20px;
        width: 90%;
        &-header {
            color: #858585;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 20px;
        }
        &-row {
            font-size: 12px;
            padding: 10px;
            border: 1px solid  #f2f2f2;
            &:nth-child(2n+1) {
                background-color: #f2f2f2;
            }
            &:nth-child(2n+0) {
                background-color: #fff;
            }
        }
        &-cell {
            padding: 10px 20px;
            &--empty{
                width: 20%;
            }
        }
    }
    &__btn {
        margin-right: 20px;
        color: #8b8b8b;
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        &:hover {
            color: #9CDBDF;
            transition: 0.3s;
        }
        &--highlighted {
            font-weight: bold;
        }
    }
    &__operations-btn {
        margin-left: 40px;
        color: #8b8b8b;
        background-color: transparent;
        border: 0px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            color: #c42c21;
            transition: 0.2s;
        }
    }
}