.dashboard {
    display: flex;
    padding: 60px 40px;
    &__upload {
        &-label {
            background-color: #9CDBDF;
            border-radius: 5px;
            font-size: 16px;
            padding: 12.5px 30px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #9CDBDF;
            }
        }
        &-input {
            display: none;
        }
        &-fspace {
            font-size: 12px;
            margin-top: 20px;
            font-weight: bold;
            color: #A5A5A5;
        }
    }
    &__files {
        margin-left: 40px;
        width: calc(100% - 200px);
        &-del {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        &-delBtn {
            color: #8A8A8A;
            border: 0px;
            border-radius: 5px;
            font-size: 12px;
            background-color: #F5F5F5;
            padding: 7px 15px;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #9CDBDF;
                transition: 0.3s;
            }
        }
    }
    &__table {
        margin-top: 20px;
        width: 100%;
        &-header {
            color: #858585;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 20px;
            
        }
        &-row {
            font-size: 12px;
            padding: 10px;
            border: 1px solid  #f2f2f2;
            &:nth-child(2n+1) {
                background-color: #f2f2f2;
            }
            &:nth-child(2n+0) {
                background-color: #fff;
            }
        }
        &-cell {
            padding: 10px 20px;
            &--empty{
                width: 20%;
            }
        }
    }
    &__file-btn {
        margin-right: 20px;
        color: #8b8b8b;
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        &:hover {
            color: #9CDBDF;
            transition: 0.3s;
        }
        &--highlighted {
            font-weight: bold;
        }
    }
}

@media (max-width: 800px) {
    .dashboard {
        flex-direction: column;
        &__upload {
            width: 100%;
            text-align: center;
            &-fspace {
                display: none;
            }
            &-label {
                font-size: 32px;
            }
        }
        &__files {
            margin-left: 0px;
            width: 100%;
            &-del {
                display: none;
            }
        }
        &__table-cell {
            max-width: calc((100vw - 80px) /3);
            word-wrap: break-word;
            text-align: center;
        }
    }
}