<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
</div>
<div class="dashboard">
    <div class="dashboard__upload">
        <label for="fileInput" class="dashboard__upload-label">Upload files</label>
        <input type="file" 
                class="dashboard__upload-input" 
                name="file" 
                id="fileInput"
                (change)="onFileUpload($event)"/>
        <p class="dashboard__upload-fspace">{{usedSpace}} of 10GB free space used</p>
    </div>
    <div class="dashboard__files">
        <div class="dashboard__files-del">
            <button 
                class="dashboard__files-delBtn"
                (click)="onDeleteFiles()">Delete all</button>
        </div>
        <table class="dashboard__files-table">
            <tr class="dashboard__table-row">
                <th class="dashboard__table-header">Files</th>
            </tr>
            <tr class="dashboard__table-row" *ngFor="let file of files">
                <td class="dashboard__table-cell">
                    <div class="dashboard__file-info">
                        <span class="dashboard__file-info-t">
                            {{file.filename}}
                        </span>
                        <span class="dashboard__file-info-t">
                            size: {{file.size}}
                        </span>
                    </div>
                    <div class="dashboard__file-btns">
                        <button 
                            class="dashboard__file-btn"
                            [routerLink]="['editfile', file.id]">Edit</button>
                        <button 
                            class="dashboard__file-btn"
                            (click)="onFileDelete(file)">Delete</button>
                        <button  class="dashboard__file-btn dashboard__file-btn--highlighted"
                            (click)="onFileDownload(file)">Download</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
