.signup {
    max-width: 500px;
    padding: 70px 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    &__header {
        width: 80%;
        color: #9A9A9A;
        margin-top: 10px;
        &--hlight {
            color: #9CDBDF;
        }
    }
    &__terms {
        margin-top: 80px;
        width: 80%;
    }
    &__terms-label {
        font-size: 18px;
        color: #9E9E9E;
        margin-left: 10px;
    }
    &__terms--hligher {
        color: #2B9EB7;
        cursor: pointer;
    }
    &__btn {
        color: #fff;
        font-size: 32px;
        background-color: #9CDBDF;
        display: block;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        width: 80%;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
    &__signIn {
        width: 80%;

        &-text {
            color: #9A9A9A;
            font-size: 20px;
        }
        &-link {
            color: #9CDBDF;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
            margin-left: 25px;
        }
    }
}
