<section class="signup">
    <h3 class="signup__header">
        Create account to get <span class="signup__header--hlight">10GB free</span> storage space!
    </h3>
    <div class="signup__terms">
        <input type="checkbox" name="terms_and_policies" class="signup__terms-cb">
        <label for="terms_and_policies" 
           class="signup__terms-label"> I accept all service <a class="signup__terms--hligher"> terms and policies</a></label>
    </div>
    <a class="signup__btn" routerLink="/auth/signUp">Sign up!</a>
    <br>
    <div class="signup__signIn">
        <span class="signup__signIn-text">You already have account?</span>
        <a class="signup__signIn-link" routerLink="/auth/signIn">Sign in</a>
    </div>
</section>