<section class="upload">
    <p class="upload__text"><span class="upload__text--h">Share</span> your data with orhers!</p>
    <div class="upload__link">
        <label for="link" class="upload__link-label">Upload link:</label>
        <input type="text" name="link" id="link" class="upload__link-input" readonly value="upload.io/upload/13few3141a">
    </div>
    <div class="upload__exp">
        <p class="upload__exp-label">Upload expires in: 7 days</p>
    </div>
    <button class="upload__up-btn">New upload</button>
</section>