.passCh {
    max-width: 550px;
    padding: 0px 0px;
    &__form {
        max-width: 380px;
        margin: 0px auto;
        &-header {
            font-size: 22px;
            color: #9A9A9A;
            &--highlight {
                color: #61C6CC;
            }
        }
    }
    &__label {
        color: #7C7C7C;
        font-size: 14px;
        margin-top: 20px;
    }
    &__input {
        background: #F5F5F5;
        border-radius: 7px;
        width: 100%;
        border: 0px;
        padding: 10px 20px;
        font-size: 14px;
        color: #5A5A5A;
        &::placeholder {
            color: #5A5A5A;
        }
        &:focus {
            outline: none;
        }
    }
    &__btn {
        width: 50%;
        margin-top: 25px;
        background-color: #9CDBDF;
        padding: 5px;
        color: #fff;
        border: 0px;
        border-radius: 7px;
        font-size: 16px;

        &:hover {
            transition: 0.3s;
            color: #9CDBDF;
            background-color: #fff;
        }
        &:disabled {
            background-color: rgb(226, 226, 226);
            border-color: rgb(226, 226, 226);
            &:hover {
                color: #fff;
            }
        }
    }
}