<div class="passCh">
    <div class="alert alert-success" role="alert" *ngIf="!error && passchanged">
        Password successfully changed.
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
    </div>
    <form class="passCh__form" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <h4 class="passCh__form-header">
            Change password
        </h4>
        <label for="password" class="passCh__label">Current password:</label>
        <br>
        <input 
            type="password" 
            name="password" 
            id="password" 
            class="passCh__input"
            placeholder="Current password"
            required
            ngModel
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}"/>
        <br>
        <label for="new_password" class="passCh__label">New password:</label>
        <br>
        <input 
            type="password" 
            name="new_password" 
            id="new_password" 
            class="passCh__input"
            placeholder="New password"
            required
            ngModel
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}"/>
        <br>
        <button 
            type="submit" 
            class="passCh__btn"
            [disabled]="!form.valid">Change</button>
    </form>
</div>