.home {
    margin-top: 100px;

    &__box { 
        max-width: 40vw;
        margin: 0px auto;
    }
}

@media (max-width: 800px) {
    .home {
        margin-top: 50px;
        &__box {
            max-width: 70vw;
        }
    }
}