<div class="adminPanel">
    <nav class="adminPanel__nav">
        <ul class="adminPanel__nav-list">
            <li class="adminPanel__nav-item adminPanel__nav--header">Admin Panel</li>
            <li class="adminPanel__nav-item">
                <a class="adminPanel__nav-link"
                    routerLink="users">Users</a>
            </li>
            <li class="adminPanel__nav-item">
                <a class="adminPanel__nav-link"
                    routerLink="uploads">Uploads</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>

