.upload {
    display: flex;
    align-items: left;
    flex-direction: column;
    &__text {
        color: #9A9A9A;
        font-size: 36px;
        margin-top: 50px;
        &--h {
            color: #61C6CC;
        }
    }
    &__tab {
        width: 100%;
        &-cell {
            border: 1px solid #C7C7C7;
            box-sizing: border-box;
            color: #9E9E9E;
            padding: 5px 12.5px;
            
        }
        &-header {
            background-color: #61C6CC;
            color: #fff;
            font-weight: 400;
            text-align: center;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px 5px 0px 0px;
        }
    }
    &__pass {
        margin-top: 20px;

        &-label {
            color:#2B9EB7;
        }
        &-input {
            border: 1px solid #2B9EB7;
            margin-left: 10px;
            width: 50%;
            border-radius: 3px;
            font-size: 14px;
            padding: 5px 15px;
        }
    }
    &__exp {
        margin-top: 20px;
        display: flex;
        align-items: center;
        &-label {
            color: #2B9EB7;
            margin-right: 20px;
            margin-top: 5px;
        }
        &-input {
            margin-left: 10px;
        }
        &-value {
            margin-left: 5px;
            color: #9A9A9A;
            font-size: 14px;
        }
    }

    &__up-btn {
        max-width: 100px;
        margin-top: 10px;
        padding: 5px;
        font-size: 16px;
        color: #fff;
        background-color: #61C6CC;
        border: 0px;
        border-radius: 3px;
        &:hover {
            background-color:#fff;
            color: #61C6CC;
            transition: 0.2s;
        }
    }
}

@media (max-width: 800px) {
    .upload {
        text-align: center;
        &__text {
            margin-top: 0px;
            text-align: center;
        }
        &__exp {

            &-label, &-input {
                margin: 10px 0px;
            }
        }
        &__pass {
            &-input {
                margin-left: 0px;
                width: 100%;
            }
        }
        &__up-btn {
            max-width: none;
            width: 80%;
            font-size: 2em;
        }
        &__tab-cell {
            word-wrap: break-word;
            max-width: 300px;
        }
    }
    
}