<section class="upload">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
    </div>
    <p class="upload__text"><span class="upload__text--h">Set up</span> your <span class="upload__text--h">upload</span>!</p>
    <table class="upload__tab">
        <tr class="upload__tab-row">
            <th class="upload__tab-header">Files</th>
        </tr>
        <tr class="upload__tab-row"
            *ngFor="let filename of filenames; let id = index">
            <td class="upload__tab-cell">
                {{id+1}}. {{filename}}
            </td>
        </tr>
    </table>
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <div class="upload__pass">
            <label for="pass" class="upload__pass-label">Set password to upload:</label>
            <input 
                type="password" 
                name="upload_pass" 
                id="pass" 
                class="upload__pass-input"
                ngModel 
                placeholder="(empty)">
        </div>
        <div class="upload__exp">
            <label for="expirationTime" class="upload__exp-label">Upload expires in:</label>
            <input 
                type="radio" 
                name="days_to_expire" 
                class="upload__exp-input" 
                value="1"
                ngModel
                checked><span class="upload__exp-value">1 day</span> 
            <input 
                type="radio" 
                name="days_to_expire" 
                class="upload__exp-input"
                ngModel 
                value="2"><span class="upload__exp-value">2 days</span> 
            <input 
                type="radio" 
                name="days_to_expire" 
                class="upload__exp-input"
                ngModel 
                value="7"><span class="upload__exp-value">7 days</span> 
            <input 
                type="radio" 
                name="days_to_expire" 
                class="upload__exp-input"
                ngModel 
                value="14"><span class="upload__exp-value">2 weeks</span> 
        </div>
        <button class="upload__up-btn" type="submit" [disabled]="error">Upload</button>
    </form>
</section>